*.o
*.a
*.d
*.bak
*.bak2
*-backup
*.backup
*-old
*-works
*-saved
run/logs/*
!run/logs/.gitkeep
bin/*
!bin/.gitkeep
run/db/mdb.#*#
run/db/mdb.PANIC
run/logs/sensitive
src/comm/.depend
src/muse/.depend
src/muse/netmuse
src/util/mkindx
src/util/mycompress
src/util/wd
run/db/mariadb.conf
run/db/mdb
run/db/mdb.backup.*
run/db/loginstatsdb
config/mariadb.conf
run/cmd_crash
run/4201*
src/util/convert_db
src/logs/
run/msgs/connect.txt
run/msgs/guest.txt
run/msgs/leave.txt
run/msgs/motd.txt
run/msgs/register.txt
run/msgs/welcome.txt
run/msgs/helpindx
run/msgs/newsindx
CLAUDE.md
.claude/
memory/
