*.o
*.a
*.d
*.bak
*.bak2
*-backup
*.backup
*-old
*-works
*-saved
run/logs/*
!run/logs/.gitkeep
bin/*
!bin/.gitkeep
run/db/mdb.#*#
run/db/mdb.PANIC
run/logs/sensitive
src/comm/.depend
src/muse/.depend
src/muse/netmuse
src/util/mkindx
src/util/mycompress
src/util/wd
run/db/mariadb.conf
CLAUDE.md
.claude/
